/* CSS files add styling rules to your content */

html {
  margin: 0;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  overflow: hidden;
}

h1 {
  font-style: italic;
  color: #373fff;
}